<div class="container" id="datathon">

    <div class="row">
        <div class="col-md-9">

            <section>

                {{ .Content }}

            </section>

        </div>
        
        <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->
                    
                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->
                        
                        {{ partial "widgets/divulgacao-curso.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

    </div>
    <!-- /.row -->
</div>

