<script type="application/ld+json">
{ 
 "@context": "http://schema.org", 
 "@type": "BlogPosting",
 "name": "{{ .Title }}",
 "datePublished": "2016-01-01",
 "dateModified": "2016-01-01",
 "headline": "Oi oi oi oi oi",
 "url": "http://curso-r.com/blog/2017/02/15/2017-02-16-manifesto-tidy/",
 "image": {
 	"@type": "ImageObject",
 	"url": "http://curso-r.com/img/banners/introducao-r.jpeg",
    "height": 50,
    "width":  "100%"
    },
 "author": {
 	"@type": "Person",
    "name": "{{ .Params.author }}"
 	},
 "publisher": {
 	"@type": "Organization",
    "name": "Curso-R",
    "url": "http://curso-r.com",
    "logo": {
 		"@type": "ImageObject",
 		"url": "http://curso-r.com"
    	}
 	},
 "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "http://curso-r.com/"
    }
}
</script>
