<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                          <p>Essa área de comentários também serve para tirar dúvidas sobre os cursos! Responderemos assim que possível.</p>
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->
                        <div class="panel panel-default sidebar-menu">
                        
                          <div class="panel-heading">
                            <h3 class="panel-title">Inscreva-se</h3>
                          </div>
                          
                          <p>Entraremos em contato para formalizar a inscrição.</p>
                          
                          <div id="contact-message"></div>
  
                          <form class="contact-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Nome</label>
                                        <input type="text" class="form-control" name="name" id="name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="message">Mensagem</label>
                                  <textarea id="message" class="form-control" name="message">{{ .Title }}</textarea>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Enviar</button>
                            </div>
                          </form>
                      </div>
                    </div>
                    <!-- *** MENUS AND FILTERS END *** -->
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->
    
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Course",
      "name": "{{ .Title}}",
      "description": "{{ .Params.rich_card_desc }}",
      "provider": {
        "@type": "Organization",
        "name": "Curso-R",
        "sameAs": "http://curso-r.com"
      }
    }
    </script>
    

    {{ partial "scripts.html" . }}

  </body>
</html>
