<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="container">

                <div class="col-sm-6 col-sm-offset-3" id="error-page">

                    <div class="box">

                        <p class="text-center">
                            <a href="index.html">
                                <img src="img/logo.png" alt="Obaju template">
                            </a>
                        </p>

                        <h3>Desculpe-nos, essa página não está mais aqui.</h3>
                        <h4 class="text-muted">Erro 404 - Página não encontrada</h4>

                        <p class="buttons"><a href="index.html" class="btn btn-template-main"><i class="fa fa-home"></i> Volte para a Homepage</a>
                        </p>
                    </div>


                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
  </body>
</html>
